{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Projeto</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="assets"></script>
</head>

<body>
    <!-- Cabeçalho do meu site -->
    <header class="titulo-site">
        <h1>Meu Projeto 1</h1>
        <h2>Bem-vindo ao meu site</h2>
    </header>
    <!-- Menu de Navegação -->
    <nav class="menu-principal">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="">Meus Projetos</a></li>
            <li><a href="">Contato</a></li>
        </ul>
    </nav>
    <div class="container">
        <!-- Parte principal -->
        <main class="tamanho-70">
            <h1>O Projeto</h1>
            <p>Lorem ipsum dolor sit amet
                <br>
                <br>
                consectetur adipisicing elit. Eaque quidem quaerat itaque assumenda ratione, nihil eum, ab quisquam
                reiciendis minima consequuntur mollitia quibusdam ipsa vitae laboriosam sint sapiente aperiam delectus.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla in praesentium ex ipsum ut dolorum. Est
                assumenda, ipsam ratione numquam soluta harum. Dolorum corrupti laudantium ab, asperiores totam aliquid
                quos.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam impedit explicabo pariatur iste deleniti
                deserunt dolores ratione, amet ipsum quos magni at ducimus sint quia cum quis unde voluptate culpa.</p>
            <Section>
                <form class="formulario-cadastro">
                    <label>Nome Completo:</label>
                    <br>
                    <input type="text" placeholder="Escreva seu nome">
                    <br>
                    <label> Email: </label>
                    <br>
                    <input type="email" placeholder="exemplo-12@gmail.com">
                    <br>
                    <input type="submit" value="enviar" id="btn-enviar">
                    <br>
                </form>
            </Section>
            <div>
                <p><a href="https://www.google.com/maps/place/Itabora%C3%AD,+RJ/@-22.7698041,-43.4202707,15.46z/data=!4m9!1m2!2m1!1smaps!3m5!1s0x99bff5afbc21c3:0x81cefcbdcd8acf65!8m2!3d-22.7472462!4d-42.8584458!16s%2Fm%2F02769kl?entry=ttu" target="_blank">Avenida Roberto Dinamite</a></p>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10710.349048853417!2d-43.42027065187232!3d-22.76980412888868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x99bff5afbc21c3%3A0x81cefcbdcd8acf65!2zSXRhYm9yYcOtLCBSSg!5e0!3m2!1spt-BR!2sbr!4v1715003151012!5m2!1spt-BR!2sbr" width="100%" height="200%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            </main>
        <!-- Parte lateral alternativa do site (aside)-->
        <aside class="tamanho-30">
            <!--Artigo-->
            <article>
                <!-- Seção -->
                <section>
                    <figure class="imagem-post">
                        <img src="https://meuflu.com.br/wp-content/uploads/2023/09/Jogador-do-Fluminense-triste-1.jpg"
                            class="imagem-artigo">
                        <figcaption>
                            Ganso lamenta gols perdidos
                        </figcaption>
                    </figure>

                    <h2>Fluminense perde para Corinthians</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, accusamus! Cum obcaecati eius
                        sunt consequuntur. Repellat, laudantium modi vel alias ipsam provident sint incidunt.
                        Repellendus totam maiores animi eum impedit.</p>
                </section>
                <section>
                    <h2>Botafogo esculacha Flamengo</h2>
                    <div>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/yknTbsV5ECk?si=JOAogH358HGuY1Yj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa enim, deleniti dolores id a
                        quibusdam nam obcaecati atque, impedit sed provident voluptatibus eveniet minima accusantium
                        odit. Voluptas perspiciatis in quidem.</p>
                </section>
            </article>
        </aside>
    </div>

    <footer>
        <p>Desenvolvido por <span>Daiane Bittencourt</span> &copy; 2024</p>
    </footer>
</body>

</html>
